@charset "UTF-8";

@media screen and (max-width: 778px) {

    .cabeçalho .flex{
        flex-direction: column;
        margin: 0px;
    }
    
    .section-primario .flex {
        flex-direction: column;
        margin: 0px;
    }

    .primario-img {
        padding-top: 50px;
    }

    .section-segunda .flex {
        flex-direction: column;
        margin: 0px;
    }

    .segunda-img {
        padding-top: 50px; 
        padding-bottom: 10px;  
    }

    .section-quinto {
        display: block;
    }

    .section-quarto {
        padding-top: 5px;
    }

    .section-quinto {
        padding-top: 10px;
    }

    .quinto-google-img {
        padding-top: 60px;
    }

    .quinto-tiktok-img {
        padding-top: 60px;
    }

    .details {
        margin: 30px;
    }
}   


