@charset "UTF-8";

@media screen and (max-width: 778px) {

    html {
      
        height: 100vh;
    }

   
    header  {
        text-align: center;
    }
   
    .cabeçalho {
      display: block;
      
    }

    .container {
        padding-left: 20%;
    }

    .cabeçalho > .cabeçalho-img {
        background-position: center;
    }

    .section-primario {
        display: block;
        flex-direction: column-reverse;
    }

    .primario-img {
        padding-top: 50px;
    }

    .section-segunda {
        display: block;
    }
   
    .segunda-img {
        padding-top: 50px; 
        padding-bottom: 50px;  
    }

    .section-quinto {
        display: block;
        
    }

    .quinto-google-img {
        padding-top: 60px;
    }

    .quinto-tiktok-img {
        padding-top: 60px;
    }
}   


